=x
  border: 1px solid black

=bg($color)
  background-color: $color

=with-footer
  min-height: 100vh

=container
  display: grid
  grid-template: auto 1fr minmax(1rem, auto) auto / 100%

=fixed-header
  order: 1
  flex-direction: row

=p($margin)
  margin: $margin

=navbar($alignment, $height)
  display: flex
  flex-direction: column
  align-items: $alignment
  height: $height

=main($order)
  order: $order

=footer($order)
  order: $order
