@import shorthand
@import functions
@import variables
@import layout

$navbar-height: 5rem
$navbar-inner-height: $navbar-height * .5

body
  +m0
  +p0
  +bc(red)
  +c(white)
  +ff(Arial)
  +with-fixed-navbar($navbar-height)
  +has-gutter

main
  +bc(blue)
  +db
  +over-gutter

  header.navbar
    +c(black)
    +bc(yellow)
    +fixed-navbar($navbar-height)
    +centerable

    nav
      border: 1px solid black
      +h($navbar-inner-height)
      +centerable

  article
    +py(1rem)
    +c(white)

    section
      +m0
      +px(1%)
      +container(1%)

footer
  +bc(green)
  +p(1%)
  +fs(2.5rem)
  +centerable

button
  +bc(black)
  +c(white)